**/__pycache__/**
.nix-venv
.env
.hypothesis/
.coverage
.pytest_cache
.vscode
.history
.idea
.mypy_cache

*private_key*
keys.json

solver/
agent/
service/

packages/open_aea/
packages/valory/
packages/eightballer/customs/simple_react
packages/eightballer/customs/simple_html
packages/eightballer/connections/http_client
packages/eightballer/connections/http_server
packages/eightballer/connections/websocket_server
packages/eightballer/skills/ui_loader_abci
packages/eightballer/skills/trader_abci

packages/valory/protocols/abci
packages/valory/protocols/acn
packages/valory/protocols/contract_api
packages/valory/protocols/http
packages/open_aea/protocols/signing
packages/valory/protocols/tendermint
packages/valory/protocols/ipfs
packages/valory/protocols/ledger_api
packages/eightballer/protocols/http
packages/eightballer/protocols/websockets
packages/valory/contracts/service_registry
packages/valory/contracts/gnosis_safe_proxy_factory
packages/valory/contracts/erc20
packages/valory/contracts/agent_registry
packages/valory/contracts/gnosis_safe
packages/valory/connections/abci
packages/valory/connections/p2p_libp2p_client
packages/valory/connections/http_client
packages/valory/connections/ipfs
packages/valory/connections/ledger
packages/valory/skills/abstract_abci
packages/valory/skills/abstract_round_abci
packages/valory/skills/reset_pause_abci
packages/valory/skills/registration_abci
packages/valory/skills/transaction_settlement_abci