**/__pycache__/**
.nix-venv
.env
.hypothesis/
.coverage
.pytest_cache
.vscode
.history
.idea
.mypy_cache

*private_key*
keys.json

agent/
service/

packages/open_aea/
packages/valory/
packages/eightballer/customs/simple_react
packages/eightballer/customs/simple_html
packages/eightballer/connections/http_client
packages/eightballer/connections/http_server
packages/eightballer/connections/websocket_server
packages/eightballer/skills/ui_loader_abci
packages/eightballer/skills/trader_abci
